.time {
    position: relative;
    letter-spacing: 0.01em;
    line-height: 20px;
    font-weight: 500;
    z-index: 0;
}

.right-icons {
    width: 46px;
    position: relative;
    height: 17px;
    z-index: 1;
}

.camera-cutout-icon {
    width: 24px;
    position: absolute;
    margin: 0;
    top: 18px;
    left: calc(50% - 12px);
    height: 24px;
    z-index: 2;
}

.status-bar {
    align-self: stretch;
    height: 52px;
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    justify-content: space-between;
    padding: 10px 24px;
    box-sizing: border-box;
    position: relative;
}

.icon {
    width: 24px;
    position: relative;
    height: 24px;
}

.state-layer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 8px;
}

.container {
    border-radius: 12702276098357452851997949399889586582920323780073393305830191592695332096537836651282823290417786666428195945538820997059986017652820844367751878143511308405719428917171866046188529727250472564465546047699428573184px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.leading-icon {
    width: 48px;
    height: 48px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.headline {
    flex: 1;
    position: relative;
    line-height: 28px;
}

.trailing-icon {
    height: 48px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
}

.top-app-bar {
    align-self: stretch;
    background-color: #2b3385;
    height: 64px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 8px 4px;
    box-sizing: border-box;
    gap: 4px;
    font-size: 22px;
}

.label-text {
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
}

.state-layer2 {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px;
    box-sizing: border-box;
}

.filter-chip-01 {
    border-radius: 559562209389434060101910716588038296439664006803953917247102310071580074455600713498984350101573110346184226278240125667353698713563045526578374170786184077075665701071276030207791652474531079556038529796144103424px;
    border: 1px solid #79747e;
    box-sizing: border-box;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.selected-icon {
    width: 18px;
    position: relative;
    height: 18px;
}

.state-layer3 {
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 6px 16px 6px 8px;
    box-sizing: border-box;
    gap: 8px;
}

.filter-chip-02 {
    border-radius: 559562209389434060101910716588038296439664006803953917247102310071580074455600713498984350101573110346184226278240125667353698713563045526578374170786184077075665701071276030207791652474531079556038529796144103424px;
    background-color: #958357;
    height: 32px;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #77b0bf;
}

.filter-chips-carousel {
    align-self: stretch;
    background-color: #c7c289;
    overflow: hidden;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px;
    gap: 4px;
    text-align: center;
    color: #d5cf7e;
}

.state-layer12 {
    align-self: stretch;
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 10px 16px 10px 12px;
    gap: 8px;
}

.button-1 {
    width: 89px;
    border-radius: 12702276098357452851997949399889586582920323780073393305830191592695332096537836651282823290417786666428195945538820997059986017652820844367751878143511308405719428917171866046188529727250472564465546047699428573184px;
    height: 40px;
    overflow: hidden;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.button-2 {
    height: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container2 {
    flex: 1;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 8px 0;
}

.sorting-controls {
    align-self: stretch;
    background-color: #9e46c1;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 8px 8px 8px 16px;
    text-align: center;
    color: #807027;
}

.image-icon {
    align-self: stretch;
    position: relative;
    border-radius: 1572116010029592417415989432111357310686558941744964958272100170356056460403338738718000205056948967642175718267762973587903499485620756399917122082558606956510767619582330796023689607856599111152301129940491829248px;
    max-width: 100%;
    overflow: hidden;
    height: 120px;
    flex-shrink: 0;
    object-fit: cover;
}

.title {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.1px;
    line-height: 20px;
    font-weight: 500;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 20px;
    flex-shrink: 0;
}

.date {
    align-self: stretch;
    position: relative;
    font-size: 12px;
    letter-spacing: 0.4px;
    line-height: 16px;
    color: #db99a6;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    height: 16px;
    flex-shrink: 0;
}

.content {
    width: 120px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

.card-01 {
    width: 121.3px;
    height: 160px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 4px;
}

.card-grid {
    align-self: stretch;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    flex-wrap: wrap;
    align-content: flex-start;
    padding: 0 16px 32px;
    gap: 8px;
}

.state-layer14 {
    width: 64px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 4px 20px;
    box-sizing: border-box;
}

.icon-container {
    border-radius: 1572116010029592417415989432111357310686558941744964958272100170356056460403338738718000205056948967642175718267762973587903499485620756399917122082558606956510767619582330796023689607856599111152301129940491829248px;
    background-color: #6b3d32;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.label-text11 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 16px;
    font-weight: 600;
}

.nav-item-1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0 16px;
    gap: 4px;
    color: #5bd767;
}

.icon-container1 {
    width: 32px;
    border-radius: 1572116010029592417415989432111357310686558941744964958272100170356056460403338738718000205056948967642175718267762973587903499485620756399917122082558606956510767619582330796023689607856599111152301129940491829248px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.label-text12 {
    align-self: stretch;
    position: relative;
    letter-spacing: 0.5px;
    line-height: 16px;
    font-weight: 500;
}

.nav-item-2 {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 12px 0 16px;
    gap: 4px;
}

.navigation-bar {
    align-self: stretch;
    background-color: #4b8481;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 0 8px;
    gap: 8px;
    text-align: center;
    font-size: 12px;
    color: #557c48;
}

.handle {
    position: absolute;
    top: calc(50% - 2px);
    left: calc(50% - 54px);
    border-radius: 1057011921179802171966762428979240467563567069805747618793304291490749011550772645841937936588459749495989793428909043359305187324287048842761322743310640627309545510051501423802966720359080699034696480148389101568px;
    background-color: #44518c;
    width: 108px;
    height: 4px;
}

.gesture-bar {
    align-self: stretch;
    position: relative;
    background-color: #4c3e62;
    height: 24px;
}

.exampleslibrary-mobile {
    width: 100%;
    position: relative;
    border-radius: 3061987617345549563786075125830487361064290658577306053782875220314136346211918560785968937329181874732184186518249098918533311051071978074391166264292588143050830829151186191887319372656584056007166078864601382912px;
    background-color: #336e3d;
    border: 8px solid #cac4d0;
    box-sizing: border-box;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    text-align: left;
    font-size: 14px;
    color: #50a238;
    font-family: Roboto;
}

